/*styles for the main index page*/

body {
  background-color: #8b9dc3;
}

.topnav {
  overflow: hidden;
  background-color: #3b5998;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/*make text box change colour when mouse hovers over it*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


h1 {
  color: black;
  text-align: center;

}

p {
  color:black;
  font-family: helvetica;
}
